<div>
  <app-todo></app-todo>
  <h1>New Names:</h1>
  <ul>
    <li *ngFor="let name of newNames; let i = index">
      {{ i + 1 }}. {{ name }}
    </li>
  </ul>
</div>

<div>
  <p>Total names: {{ counter }}</p>
  <button (click)="increment()">Increment</button>
  <button (click)="decrement()">Decrement</button>
</div>

<div>
  <h2>User</h2>
  <p>name: {{ user.name }}</p>
  <p>age: {{ user.age }}</p>
</div>

<div>
  <h2>Users</h2>
  <div *ngFor="let user of users">
    <p>name: {{ user.name }}</p>
    <p>age: {{ user.age }}</p>
  </div>
</div>

<div>
  <h2>Cars</h2>
  <div *ngFor="let car of cars">
    <p>name: {{ car.name }}</p>
    <p>year: {{ car.year }}</p>
    <p>model: {{ car.model }}</p>
    <br />
  </div>
</div>

<app-header title="Header title from app component"></app-header>
<app-tasks></app-tasks>
